.main.main {
    display: grid;
}
.selection.selection {
    display: grid;
    grid-template:
        "decorator" auto
        /
        max-content
    ;
    grid-auto-flow: column;
    gap: 0.75em;
    box-sizing: content-box;
    min-block-size: 1lh;
}
.cursorToNPeriods {
    display: grid;
    gap: 0.5em;
}