.main.main {
    display: grid;
}
.selection.selection {
    display: grid;
    grid-template:
        "decorator" auto
        /
        max-content
    ;
    grid-auto-flow: column;
    gap: 0.75em;
    box-sizing: content-box;
    min-block-size: 1lh;
}
.cursorToNPeriods {
    display: grid;
    gap: 0.5em;
}
.startingValue.startingValue {
    display: grid;
    justify-content: stretch;
}
.flips.flips {
    display: grid;
    justify-content: stretch;
    grid-auto-flow: row;
    text-align: center;
    gap: 0.25rem;
    & > p {
        margin: 0;
    }
}
.duration.duration {
    display: grid;
    justify-content: stretch;
}